header {
    padding-top: 50px;
    padding-bottom: 100px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    width: 800px;
    margin: 0 auto;
}
.section-title {
    text-transform: uppercase;
}
.section-inner {
    justify-content: space-around;
}
.section-inner div {
    padding: 15px 10px;
}
.section-inner h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}